body{
    background-image: url(Wallpaper.jpg);
    background-size: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img {
    border-style: solid;
}

.container h1 {
    color: white;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

section.principal {
    width: 100%;
    height: 100%;
}